{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
    <link href="{% static "bootstrap-5.0.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="{% static "bootstrap-5.0.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card car" style="border-radius: 15px;">
                    <div class="card-header mb-2 ">
                        <h2 class="text-uppercase text-center mb-5"> ثبت نام در دیجاتو</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example1cg">نام کاربری</label>
                                <input type="text" name="username" id="username" class="form-control form-control-lg"
                                       placeholder="سپهر ساعی"/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example3cg">ایمیل</label>
                                <input type="email" name="email" id="email" placeholder="sepehrse84@gmail.com"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4cg">رمز عبور</label>
                                <input type="password" name="password1" id="password1"
                                       class="form-control form-control-lg"
                                       placeholder="********"/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4cdg">تکرار رمز عبور</label>
                                <input type="password" name="password2" id="password2"
                                       class="form-control form-control-lg"
                                       placeholder="********"/>
                            </div>

                            <div class="d-flex justify-content-center register_btn">
                                <button type="submit" name="register" class="btn register_btn text-body">ثبت نام
                                </button>
                            </div>

                            <h4 class="text-center text-muted  mb-0">حساب کاربری دارید؟ <a
                                    href="{% url "account:login" %}" class="fw-bold text-body"><u>ورود</u></a></h4>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>