<!DOCTYPE html>
{% load static %}
{% load MyTags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <title>Order Edit</title>
</head>
<body>
<div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <select name="products" id="" multiple>
                    {% for product in order.product.all %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button>Update</button>
        </form>
    </div>
<script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>

</body>
</html>