{% extends "pbase.html" %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
       <div class="row">
            <a href="{% url "account:table" 1 %}" style="text-decoration: none">
{#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                     class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">#}
{#                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>#}
{#                </svg>#}
            <a/>
    </div>
    <h2>{{ product.name }}</h2>
    <img class=" w-50" src="{{ product.image.url }}">
    <dl>
        <dt>$</dt>
        <dd>{{ product.price }}</dd>
        <dt>برند</dt>
        <dd>{{ product.company }}</dd>
        <dt>دسته بندی</dt>
        <dd>{{ product.category.name }}</dd>
        <dt>تعداد</dt>
        <dd>{{ product.available }}</dd>
        <dt>زمان ثبت</dt>
        <dd>{{ product.published_at}}</dd>
        <dt>اطلاعات</dt>
        <dd>{{ product.details }}</dd>
    </dl>
{% endblock %}